/*font-family: "Josefin Sans", sans-serif;*/
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
    font: 1.8rem "Roboto", sans-serif;
}


body a{
    text-decoration: none;
    color: black;
    margin: 0;
    
}

body ul{
    list-style: none;
    padding: 0;
}

.wrapper{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* HEADER */

header{
    border-top: 4px solid #E25254;
    padding: 28.140px 0;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 42px;
    font-weight: normal;
    margin: 0;
}

header ul{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font: light 18px;
}

/* SECTION HERO */

section.hero{
    background-image: url(../img/imagehero.jpg);
    background-size: cover;
    height: 600px;
    color: white;
}

section.hero .wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

section.hero .boite{
    padding: 50px 60px 60px 60px;
    background-color: rgba(226, 82, 82, 0.9);
    width: 600px;
    height: 510px;
}

section.hero p{
    margin: 0;
}

section.hero h2{
    font-size: 4.8rem;
    font-weight: bold;
    margin: 50px 0 45px 0;
}

section.hero .piton{
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
}

section.hero a{
    color: white;
    background-color: #C0392B;
    padding: 10px 20px;
}

/* SECTION PRODUITS */

section.produits{
    background-color: #ECF0F1;
    padding: 80px 100px;
}

section.produits h3{
    margin: 0;
    font: bold 3.6rem/41px "Josefin Sans", sans-serif;
}

section.produits .Titre{
    margin: 0 0 16px 0;
    line-height: 21px;
}

section.produits .vraigrid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
}

section.produits article{
    background-color: white;
    padding: 30px 30px 100px 30px;
}

section.produits article div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 0 20px 0; 
}

section.produits article h4{
    font: bold 2.2rem/25px "Josefin Sans", sans-serif;
    
}

section.produits article p{
    margin: 0;
}

section.produits article:hover{
    background-color: #E25254;
    cursor: pointer;
    color: white;
}

/* SECTION CONSEILS */

section.conseils{
    padding: 80px 100px;
    background-image: url(../img/tiling.png);
    background-color: rgba(226, 82, 82, 0.9);
    background-size: cover;
}

section.conseils h3{
    margin: 0;
    font: bold 3.6rem/41px "Josefin Sans", sans-serif;
    color: white;
}

section.conseils .Titre{
    margin: 0 0 16px 0;
    line-height: 21px;
    color: white;
}

section.conseils .vraigrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
}

section.conseils article{
    background-color: white;
    padding: 30px;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.conseils span{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.conseils h4 {
    font: bold 2.2rem/25px "Josefin Sans", sans-serif;
    color: #E25254;
}

/* FOOTER */

footer{
    background-color: #E25254;


}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font: normal 1.8rem/25px;
}





